@font-face {
   font-family: 'Vazir-Medium';
   font-display: swap;
   src: url('file:///Users/Saeed/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-08-25_184818/fonts/Vazir-Medium/font.ttf');
}
